@import "tailwindcss";

* {
  transition: .4s;
}

.hide-scrollbar {
  overflow: auto;

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
